.vs/InfoScreenAdmin/v15/.sui
.vs/InfoScreenAdmin/v15/Server/sqlite3/storage.ide-shm
.vs/InfoScreenAdmin/v15/Server/sqlite3/storage.ide-wal
/InfoScreenAdminGUI/obj/x86/Debug
/InfoScreenAdminGUI/bin/x86/Debug
/InfoScreenAdminDAL/obj/x86/Debug
/InfoScreenAdminDAL/bin/x86/Debug
/InfoScreenAdminBusiness/obj/x86/Debug
/InfoScreenAdminBusiness/bin/x86/Debug